<article class=thumb>
 <div class=thumb-face>
  <%= link_to entry, class: 'thumb-link' do %>
   <%= image_tag entry.cover_image.url(:thumb), alt: '', class: 'thumb-image' %>
  <% end %>
 </div>
 <div class=thumb-text>
  <p class=thumb-title><%= entry.title %></p>
  <div class=thumb-count><%= t('.count', count: entry.images.size) %></div>
  <p class=thumb-time>
   <%= content_tag :time, l(entry.created_at), datetime: entry.created_at.iso8601 %>
  </p>
 </div>
</article>
