<p id="notice"><%= notice %></p>

<p>
 <%= Entry.human_attribute_name(:title) %>:
 <%= @entry.title %>
</p>

<p>
 <%= Entry.human_attribute_name(:body) %>:
 <%= @entry.body %>
</p>

<section>
 <%= Entry.human_attribute_name(:images) %>:
 <% Array(@entry.images).each do |image| %>
  <p><%= image_tag image.url, alt: '' %></p>
 <% end %>
</section>

<%= link_to 'Back', entries_path %>
