<p id="notice"><%= notice %></p>

<article class=entry>
 <p class=entry-cover>
  <%= image_tag @entry.cover_image.url, alt: '', class: 'entry-image' %>
 </p>

 <p class=entry-title><%= @entry.title %></p>
 <p class=entry-body><%= @entry.body %></p>

 <section class=entry-images>
  <% @entry.images[1..-1].each do |image| %>
   <p><%= image_tag image.url, alt: '', class: 'entry-image' %></p>
  <% end %>
 </section>
</article>

<%= link_to 'Back', entries_path %>
